#txa1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #F8E091;
    width: 100%;
    overflow: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#inp1::placeholder,#inp2::placeholder,#inp3::placeholder,#inp4::placeholder,#inp5::placeholder,#inp6::placeholder,#inp7::placeholder,#inp8::placeholder {
    opacity: 0.5;   
}

#inp1,#inp2,#inp3,#inp4,#inp5,#inp6,#inp7,#inp8 {
    border-style:solid;
    border-color: #F8E091 !important;
    border-radius: 10px;
    /* text-align: center; */
}

.input-box {
    color: #530084 !important; 
    background-color:rgb(240, 239, 239) !important;
}

.input-container {
    text-align:center;
    height:80px;
    padding-top:5%;
}

.btn {
    border-style:hidden ;
    background-color: rgba(87, 3, 131, 1);
    color:#f5efef;
    border-radius: 10px;
}

.btn:hover{
    border-style:hidden;
    border-radius: 10px;
    background-color:rgba(243, 196, 46, 1);
}

.dropdown-options {
    text-align: center;
    width: 11.5rem; 
    border-radius: 10px;
}

#a1 {
    color: #530084;
    text-decoration: none;
}

#a1:hover {
    color: #F8E091;
    text-decoration: none;
}

#lbl1, #lbl2, #lbl3, #lbl4, #lbl5, #lbl6, #lbl7, #lbl8 {
    color: #530084;
    font-weight:lighter
}

body {
    font-family: 'Nunito';
}