/* Importa do googlefonts a fonte Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* Propriedade de estilo, espaço e posição dos itens na parte da navbar */
.jobsVisualization-fix-center {
    text-align: center;
    border: solid 0px white;
    height: auto;
    width: 20rem;
    margin-bottom: 1.5rem;
}

/* Propridade do item do side bar e também do titulo do modal */
#jobsVisualization-example-modal-label {
    text-align: left;
}

/* Propriedade do html e do body que esconde o scroll de x, ou seja o scroll horizontal */
#jobsVisualization-html, #jobsVisualization-body {
    overflow-x: hidden;
}

#jobsVisualization-body {
    font-family: nunito, sans-serif; 
    background-color: rgb(245, 239, 239);
}

#likesCandidates-body {
    font-family: nunito, sans-serif; 
    background-color: rgb(245, 239, 239);
}

.jobsVisualization-style {
    text-align: left;
}

#jobsVisualization-style-education {
    display: inline;
}

#jobsVisualization-follow {
    background-color: purple;
    width: 80%;
}

.jobsVisualization-actvities-required {
    margin-left: 1.3rem;
}

#jobsVisualization-list {
    list-style-type: none; 
    text-align: justify;
}

#jobsVisualization-company-description {
    font-size: 0.9rem;
}

#jobsVisualization-contact {
    background-color: rgb(83, 00, 132);
}

#jobsVisualization-cards {
    display: flex;
    flex-wrap: wrap;
}

#likesCandidates-cards {
    display: flex;
    flex-wrap: wrap;
}

#jobsVisualization-card-green {
    width: 20rem;
    border-style: solid;
    box-shadow: 0px 2px 15px rgb(14, 117, 23);
    border: rgb(14, 117, 23);
    border-width: 3px;
}

#jobsVisualization-card-yellow {
    width: 20rem;
    border-style: solid;
    box-shadow: 0px 2px 15px rgb(241, 239, 75);
    border: rgb(241, 239, 75);
    border-width: 3px;
}

#jobsVisualization-card-red {
    width: 20rem;
    border-style: solid;
    box-shadow: 0px 2px 15px rgb(218, 28, 69);
    border: rgb(218, 28, 69);
    border-width: 3px;
}

#jobsVisualization-footer {
    bottom: 0;
    width: 100%;
    height: 6rem;
    position: fixed;
    background-color: rgb(245, 239, 239);
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    align-items: center;
    border-top: 1px rgba(83, 00, 132, 0.5) solid;
}

#jobsVisualization-icon-filter {
    cursor: pointer;
    color: rgb(243, 196, 46);
}

#jobsVisualization-icon-filter:hover {
    color: rgb(83, 00, 132);
}

#jobsVisualization-guide {
    display: flex;
    width: 100%;
}

#jobsVisualization-box-green {
    align-self: center;
    width: 30px;
    background-color: rgb(14, 117, 23);
    height: 30px;
}
#jobsVisualization-box-yellow {
    align-self: center;
    width: 30px;
    background-color: rgb(241, 239, 75);
    height: 30px;
}
#jobsVisualization-box-red {
    align-self: center;
    width: 30px;
    background-color: rgb(218, 28, 69);
    height: 30px;
}

#jobsVisualization-guide-tutorial {
    align-self: flex-start;
    margin-right: 1%;
    margin-top: 10px;
    margin-left: 1%;
    
}

#jobsVisualization-space-like {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.jobsVisualization-icon-like-unclicked {
    align-self: flex-end;
    cursor: pointer;
    color: rgb(162, 161, 158);
}

.jobsVisualization-icon-like-clicked {
    align-self: flex-end;
    cursor: pointer;
    color: rgb(243, 196, 46);
}

.jobsVisualization-icon-like-clicked:hover {
    color: rgb(239, 214, 132);
}

.jobsVisualization-icon-like-unclicked:hover {
    color: rgb(144, 144, 144);
}

#jobsVisualization-form-filter {
    display: grid;
}

.jobsVisualization-modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
}

#jobsVisualization-space-confirm-filter {
    display: flex;
    width: 100%;
    justify-content: center;
}

#jobsVisualization-confirm-filter {
    margin-top: 1%;
    width: 80%;
    background-color: rgb(83, 00, 132);
    color: white;
    border-style: solid;
    border-color: rgb(83, 00, 132);
    border-radius: 2px;
}
#jobsVisualization-reset {
    margin-top: 1%;
    width: 80%;
    background-color: rgb(189, 189, 189);
    color: black;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(189, 189, 189);
    border-radius: 2px;
    margin-right: 1rem;
}

#jobsVisualization-space-confirm-modal {
    display: grid;
    width: 25rem;
    justify-content: right;
    align-self: right;
}

#jobsVisualization-confirm-modal {
    background-color: rgb(83, 00, 132);
    color: white;
    border-style: solid;
    border-color: rgb(83, 00, 132);
    border-radius: 4px;
}

.hsmall {
    font-size: 0.95rem;
}

.modal-footer-fix {
    height: 1rem;
}