html {
    height: 100%;
}

body {
    max-width: 100%;
    background-color: #F5EFEF;
    font-family: 'Nunito', sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
}

.flex > div {
    flex: 1 1 500px;
    margin: 15px 40px;
    /* Debug de conteiner */
    /* border: 2px solid black; */
}

.logo{
    display: flex;
    justify-content: center;
    max-width: 100%;

}

#img-logo{
   width: 40%;
   height: auto;
   margin: 1%;
}

.login{
    height: 350px;
}

h1#label-login{
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
}

.login > #form-group{
    display: flex;
    flex: 1 1 500px;
    flex-wrap: wrap;
    max-width: 100%;
}

#group-email{
    padding-top: 5%;
}

#group-password{
    padding-bottom: 5%;
}

.cadastro{
    display: flex;  
    justify-content: space-evenly;
    width: 80px;
    height: 10%;
    padding-top: 10%;
}

.flex > .cadastro {
    margin: 15px 10%;
}

.cadastro > #label-cadastro{
    font-size: small;
}

#form-login {
    margin: 0% 0% 0% 0%;
}

#btn-entrar {
    margin: 5% 0% 5% 0%;
}

.btn-primary{
    background-color: blueviolet;
    border-color: rgba(137, 43, 226, 0.239);
}

.btn-primary:hover{
    transform: scale(1.02);
    background-color: #F3C42E;
    border-color: #F3C42E;
    transition:  0.4s;
    cursor: pointer;
}