.registrationCandidate-body {
  background-color: #f5efef;
  font-size: 15px;
  font-family: "Nunito" "Roboto Slab";
  align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#registrationCandidate-title{
  text-align:center;
  color:  #550084;
  font-family: 'Nunito';
  margin-top: 15px;
}

#registrationCandidate-cardsbootstrap{
  width: 70%;
}

.registrationCandidate-label{
    opacity:0.;
    border-color: #F8E091;
    color:  #550084;
    /* font-weight:lighter */
}

.registrationCandidate-margintop{
  margin-top: 15px;
}

#registrationCandidate-textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #F8E091;
    width: 100%;
    overflow: hidden;
}

.registrationCandidate-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.registrationCandidate-placeholder::placeholder{
    opacity: 0.5;   
}

.registrationCandidate-placeholder{
  border-style:solid;
  border-color: #F8E091 !important;
  border-radius: 10px;
}

#registrationCandidate-input-textarea{
  width: 100%;
}

#registrationCandidate-input-course{
  color: #550084;
}

.registrationCandidate-input-box {
    color: rgba(87, 3, 131, 1) !important; 
    background-color:rgb(240, 239, 239) !important;
}

/* .input-container {
    text-align:center;
    height:80px;
    padding-top:5%;
} */

.registrationCandidate-btn {
    border-style:hidden ;
    background-color: rgba(87, 3, 131, 1);
    color:antiquewhite;
    border-radius: 10px;
    margin-top: 15px;
}

#registrationCandidate-line
{
  color:#F8E091; 
  height:2px;
}
.registrationCandidate-btn:hover{
    border-style:hidden;
    border-radius: 10px;
    background-color:rgba(243, 196, 46, 1);
}

/* .dropdown-options {
    text-align: center;
    width: 11.5rem; 
    border-radius: 10px;
} */

.registrationCandidate-hs {
    color:purple;
    text-align: center;
}

.select {
    border-color: #F8E091!important;
}

.registrationCandidate-columns{
  display: grid;
  margin-left: 12px;
}


#registrationCandidate-flex{
  display: flex;
  justify-content: space-between;
}

/* Propriedades de espaço e estilo nos campos de seleção de tags */
.registrationCandidates-input-form-buttons-box {
  background-color: #FFFFFF;
  display: flex;
  height: 80%;
  width: 100%;
  min-width: 215px;
  border-style: solid;
  border-color: #530084;
  border-radius: 10px;
}

/* Propriedades de estilo e espaço nas tags */
.registrationCandidates-button-tag {
  border-style: solid;
  border-color: #530084;
  background-color: white;
  color: #530084;
  border-radius: 10px;
  margin-top: 0.5%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

/* Propriedade de posição no titulo de requisitos obrigatórios e não obrigatórios */
.registrationCandidates-title {
  padding-top: 1%;
}

/* Propriedades de posicionamento nos campos de busca dentro das caixas de seleção de tags */
.registrationCandidates-field-search {
  display: flex;
  justify-content: space-between;
}

/* Propriedades de espaço e posicionamento do canto superior das caixas de seleção de tags */
#registrationCandidates-title-hard-skills-obligations, #registrationCandidates-title-hard-skills-no-obligations {
  display: flex;
  align-items: center;
  margin-left: 1%;
  width: 98%;
  justify-content: space-between;
}

/* Propriedade da caixa de seleção de tags quando a caixa se estica e aparece uma sroll para deslizar para baixo */
#registrationCandidates-content-obligation, #registrationCandidates-content-no-obligation {
  overflow: auto;
}

/* Mudanças de propriedades dos cards na parte de posicionamento quando o comprimento atingi igual ou menos do que 889px */
@media only screen and (max-width: 889px) {
  
  #registrationCandidates-row-first, #registrationCandidates-row-second, #registrationCandidates-row-third, #registrationCandidates-row-fourth, #registrationCandidates-row-fifth, #registrationCandidates-row-sixth, #registrationCandidates-row-seventh, #registrationCandidates-title-hard-skills-obligations,#registrationCandidates-title-hard-skills-no-obligations {
      flex-direction: column;
      justify-content: space-around;
  }

  .registrationCandidates-inputs {
      margin-top: 8rem;
  }

}

/* Propriedade de display de uma caixa de seleção de tag */
.registrationCandidates-hard-skills {
  display: grid;
}

/* Propriedade de estilo e espaço nos campos de busca dentro das caixas de seleção de tags */
.registrationCandidates-search-tag {
  border-color: #F3C42E;
  width: 80%;
  height: 20%;
}








/* 
h4 {
  color: #530084;
  font-family: "Nunito", sans-serif;
}

#Estado,
#Nome,
#Idade,
#Cidade,
#Formação,
#HardSkills,
#SoftSkills {
  border: solid #eacc6c;
  font-family: "Nunito";
  border-radius: 10px;
  color: #530084;
  
}
h2 {
  font-weight: bold;
  font-family: "Nunito";
  color: #530084;
}

#Sobre {
  width: 20% !important;
  height: 70px;
  overflow: scroll;
  font-family: "Nunito";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
  overflow: auto;
  font-size: small;
  color: #530084;
}

.btn-check {
  background-color: rgb(155, 155, 15);
  color: #eacc6c;
  font-family: "Nunito";
  border-color: #530084;}
  

  .texto-area {
    width: 22% !important;
    font-size: small;
    font-family: "Nunito";
    border: solid 1.5px #eacc6c;
    border-color: #eacc6c;
    height: 5rem;
    overflow: hidden;
    border-radius: 10px;
  }
  a {
    color: black;
    text-decoration: none;
    font-family: "Nunito";
  }

  a:hover{
    color: #f8e091;
    font-family: "Nunito";
    text-decoration: none;
  }

  #infopessoal{
    color: #530084;
    font-weight: bold;
  }
  #infopessoal:hover{
    color: black;
    font-weight: bold;
  }

  #infoprof{
    color: #530084;

  }
  #infoprof:hover{
    color: black;
  }
  .form-control{
    width: 20% !important;
    overflow: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;
    overflow: auto;
    flex: auto;
    align-items: center; 
    justify-content: center;
    justify-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    
  }

  .form-select-sm{
    font-family: "Nunito", sans-serif;
    width: 20% !important;
    overflow: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;
    overflow: auto;
    flex: auto;
    align-items: center; 
    justify-content: center;
    justify-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    color: black;
    border-color: #eacc6c;
  }

  .btn-check{
    border-color: #eacc6c;
  }

  .paragrafo {
    color: #530084;
  }

  .btn-group{
    /* background-color: white; 
    font-family: "Nunito";
    border-style: hidden;
    border-radius: 10px;
  }

.botoes {
  border-color: #530084; 
  border-width: 1.5px; 
  color: black; 
  font-weight: 500;
  border-radius: 10px;
}

.button {
  font-family: "Nunito";
  font: bold 11px;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 2px 6px 2px 6px;
  border-top: 1.5px solid #530084;
  border-right: 1.5px solid #530084;
  border-bottom: 1.5px solid #530084;
  border-left: 1.5px solid #530084;
  border-radius: 10px;
}

#btncheck1,
#btncheck2,
#btncheck3,
#btncheck4 {
  background-color: white;
  color: white;
}


#hardskills,
#softskills,
#curriculo
 {
  color: #530084;
}

.form-group{
  color: #530084;
}

#mais {
  font-family: 'Nunito';
  border-top: 1.5px solid #eacc6c;
  border-right: 1.5px solid #eacc6c;
  border-bottom: 1.5px solid #eacc6c;
  border-left: 1.5px solid #eacc6c;
  background-color: white;
} */
