#header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

#botao1, #botao2 {
    font-family: 'Nunito', sans-serif;
    background-color: white;
    color: #530084;
    height: 40px;
    width: 10rem;
    max-width: 50rem;
    border-radius: 5px;
    border-color: #530084;
    border-width: 2px;
}

#container-header {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: white;
}

#botao1:hover, #botao2:hover {
    background-color: #530084;
    color: white;
}

.card {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

#card-1 {
    margin-top: 125px;
}

.card-text {
    font-family: 'Nunito', sans-serif;
}

.container-Icon-Fechar {
    cursor: pointer;
    margin-left: 10%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 15%;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0;
}

.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0;
}

.card-body {
    cursor: pointer;
}

#main {
    overflow: auto;
    margin-bottom: 15%;
}