/* Define as propriedades do body que perpetuam por todo conteúdo do html */
#likesCandidates-body { 
    font-family: 'Nunito' !important;
    background-color: #F5EFEF;
}

/* Define as propriedades de espações entre cada card */
.likesCandidates-card {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Propriedade exclusiva do primeiro card que delimita espaço entre ele e o header */
#likesCandidates-card-first {
    margin-top: 150px;
}

/* Propriedade que delimita a margem do primeiro card quando a tela tem pelo menos 970px de altura */
@media only screen and (min-height: 970px) {
    #likesCandidates-card-first {
        margin-top: 170px;
    }
}

/* Propriedade do icone de X */
#likesCandidates-container-icon-close {
    cursor: pointer;
    margin-left: 10%;
}

/* Propriedades de tamanho e espaço do footer */
#likesCandidates-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F5EFEF;
    height: 15%;
}

/* Propriedade do cursor ao passar por cima de cada card */
.likesCandidates-card-body {
    cursor: pointer;
}

/* Propriedade dos cards quando se passa o cursor que muda o estilo */
.likesCandidates-card-body:hover {
    border-style: solid;
    border-color:blueviolet;
}

/* Propriedades do espaço main */
#likesCandidates-main {
    overflow: auto;
    margin-bottom: 15%;
}