/* Importa do googlefonts a fonte Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* Propriedade de estilo, espaço e posição dos itens na parte da navbar */
.jobsVisualization-col-4 {
    text-align: center;
    border: solid 0px white;
    height: auto;
    width: 20rem;
}

/* Propridade do item do side bar e também do titulo do modal */
#jobsVisualization-example-modal-label {
    text-align: left;
}

/* Propriedade do html e do body que esconde o scroll de x, ou seja o scroll horizontal */
#jobsVisualization-html, #jobsVisualization-body {
    overflow-x: hidden;
}

#jobsVisualization-body {
    font-family: nunito, sans-serif; 
    background-color: rgb(245, 239, 239);
}

.jobsVisualization-style {
    text-align: left;
}

#jobsVisualization-style-education {
    display: inline;
}

#jobsVisualization-follow {
    background-color: purple;
}

.jobsVisualization-actvities-required {
    margin-left: 1.3rem;
}

#jobsVisualization-list {
    list-style-type: none; 
    text-align: justify;
}

#jobsVisualization-company-description {
    font-size: 0.9rem;
}

#jobsVisualization-contact {
    background-color: purple;
}