@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.nav-bar-item{
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
.nav-bar-link{ 
   height: 50px; 
   width: 50px; 
   }

.containernavbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    border: 0px solid rgb(5, 5, 5);
    /* border-radius: 10px; */
    background-color: rgb(255, 255, 255);
    /* position: fixed;  */
    height: 76px;
    /* padding: 1%; */
}

#logo {
    padding-top: 0.;
}

.col-4 {
    text-align: center;
    border: solid 0px white;
    height: auto;
}

.nav-bar {
    height: 76px;
}

.direita {
    text-align: right;
}

.esquerda {
     text-align: left;
}

div::-webkit-scrollbar {
}

#menu{
    color: rgb(243, 196, 46);
    position: relative;
    top: 20%
}
    
#menu:hover {
    color: rgb(83, 00, 132);
}

#notifications{
    color: rgb(243, 196, 46);
    position: relative;
    top: 25%
}
#notifications:hover{
    color: rgb(83, 00, 132);
}

h5 {
    text-align: left;
}

.body {
    background-color: rgb(243, 196, 46);
}

.sidebarPadding {
    height: 6.25rem;
    text-align: center;
    /* border: solid 1px black; */
    padding-top: 10%;
}

.hr {
    border-radius: 100%;
}

.black:link {
    color: black;
    text-decoration: none;
}

.black:hover {
    color: #F3C42E;
    text-decoration: none;
}

.backreturnSideBar {
    background-color: #F3C42E; 
}

.backreturnSideBar:hover {
    background-color: #530084;
}

.zoom {
    transition: 0.2s;
}

.zoom:hover {
    transform: scale(1.2);
}

.size {
    width: 80%;
}

/*.col-12, .col-4, .col {
    border: solid 1px black;
} */

.center {
    text-align: center;
    vertical-align: baseline;
}

.bling {
    fill: black;
}

.bling:hover {
    fill: #F3C42E;
}

/* .col-3, .col-6, .col-9, .col-12 {
    border: solid 1px black;
} */

.offcanvas-header {
    height: 4.8rem;
}

html, body {
    overflow-x: hidden;
}
