@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");
.registrationCandidates-body {
    background-color: #F5EFEF;
    font-size: 15px;
    font-family: "Nunito";
    align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#registrationCandidates-title {
    text-align: center;
    color: #550084;
    font-family: 'Nunito';
    margin-top: 15px;
}

#registrationCandidates-cardsbootstrap {
    width: 70%;
}

.registrationCandidates-label {
    border-color: #F8E091;
    color: #550084;
    /* font-weight:lighter */
}

.registrationCandidates-margintop {
    margin-top: 15px;
}

#registrationCandidates-textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #F8E091;
    width: 100%;
    overflow: hidden;
}

.registrationCandidates-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.registrationCandidates-placeholder::placeholder {
    opacity: 0.5;
}

.registrationCandidates-placeholder {
    border-style: solid;
    border-color: #F8E091 !important;
    border-radius: 10px;
}

#registrationCandidates-input-textarea {
    width: 100%;
}

#registrationCandidates-input-course {
    color: #550084;
}

.registrationCandidates-input-box {
    color: rgba(87, 3, 131, 1) !important;
    background-color: rgb(240, 239, 239) !important;
}

.registrationCandidates-btn {
    border-style: hidden;
    background-color: rgba(87, 3, 131, 1);
    color: antiquewhite;
    border-radius: 10px;
    margin-top: 15px;
    width: max-content;
    padding: 10px 20px;
    margin-bottom: 50px;
}

#registrationCandidates-line {
    color: #F8E091;
    height: 2px;
}

.registrationCandidates-btn:hover {
    border-style: hidden;
    border-radius: 10px;
    background-color: rgba(243, 196, 46, 1);
}

.registrationCandidates-hs {
    color: purple;
    text-align: center;
}

.select {
    border-color: #F8E091 !important;
}

.registrationCandidates-columns {
    display: grid;
}

#registrationCandidates-flex {
    display: flex;
    justify-content: space-between;
}


/* Propriedades de espaço e estilo nos campos de seleção de tags */

.registrationCandidates-input-form-buttons-box {
    background-color: #FFFFFF;
    display: flex;
    height: 80%;
    width: 100%;
    min-width: 215px;
    border-style: solid;
    border-color: #530084;
    border-radius: 10px;
}


/* Propriedades de estilo e espaço nas tags */

.registrationCandidates-button-tag {
    border-style: solid;
    border-color: #530084;
    background-color: white;
    color: #530084;
    border-radius: 10px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.registrationCandidates-button-tag-unclicked  {
    border-style: solid;
    border-color: #530084;
    background-color: white;
    color: #530084;
    border-radius: 10px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.registrationCandidates-button-tag-clicked  {
    border-style: solid;
    border-color: #530084;
    background-color: #530084;
    color: white;
    border-radius: 10px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}


/* Propriedade de posição no titulo de requisitos obrigatórios e não obrigatórios */

.registrationCandidates-title {
    padding-top: 1%;
}


/* Propriedades de posicionamento nos campos de busca dentro das caixas de seleção de tags */

.registrationCandidates-field-search {
    display: flex;
    justify-content: space-between;
}


/* Propriedades de espaço e posicionamento do canto superior das caixas de seleção de tags */

#registrationCandidates-title-hard-skills-obligations,
#registrationCandidates-title-hard-skills-no-obligations {
    display: flex;
    align-items: center;
    margin-left: 1%;
    width: 98%;
    justify-content: space-between;
}


/* Propriedade da caixa de seleção de tags quando a caixa se estica e aparece uma sroll para deslizar para baixo */

#registrationCandidates-content-obligation,
#registrationCandidates-content-no-obligation {
    overflow: auto;
}

#registrationCandidates-content-obligation-softskills,
#registrationCandidates-content-no-obligation-softskills {
    overflow: auto;
}

#registrationCandidates-content-obligation-hardskills,
#registrationCandidates-content-no-obligation-hardskills {
    overflow: auto;
}


/* Mudanças de propriedades dos cards na parte de posicionamento quando o comprimento atingi igual ou menos do que 889px */

@media only screen and (max-width: 889px) {
    #registrationCandidates-row-first,
    #registrationCandidates-row-second,
    #registrationCandidates-row-third,
    #registrationCandidates-row-fourth,
    #registrationCandidates-row-fifth,
    #registrationCandidates-row-sixth,
    #registrationCandidates-row-seventh,
    #registrationCandidates-title-hard-skills-obligations,
    #registrationCandidates-title-hard-skills-no-obligations {
        flex-direction: column;
        justify-content: space-around;
    }
    .registrationCandidates-inputs {
        margin-top: 8rem;
    }
}


/* Propriedade de display de uma caixa de seleção de tag */

.registrationCandidates-hard-skills {
    display: grid;
}


/* Propriedade de estilo e espaço nos campos de busca dentro das caixas de seleção de tags */

.registrationCandidates-search-tag {
    border-color: #F3C42E;
    width: 80%;
    height: 20%;
}

.registrationCandidates-columns {
    display: flex;
    justify-content: space-between;
}


#registrationCandidates-back-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 40px;
    left: 40px;
    border-radius: 30px;
    background-color: white;
    color: #530084;
    border-color: #f3c42e;
    border-style: solid;
  }
  #registrationCandidates-back-btn:hover {
    background-color: #f3c42e;
    border-color: #550084;
  }