html {
    height: 100%;
}

body {
    background-color: #f3f3f3;
}

#holder-logo{
}

#img-logo {
    width: 100%;
}

#holder-login{
    margin: 0% 0% 0% 0%;
}

#form-login {
    margin: 0% 0% 0% 0%;
}

#label-login{
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
}

.label-login-all{
    margin: 4% 0% 1% 0%;
    font-size: larger;
}

#field-email, #field-senha {
    width: 100%;
}

#btn-entrar {
    margin: 5% 0% 5% 0%;
}

#holder-cadastro{
    align-items: center;
    margin: 15% 0% 0% 0%;
}

#label-cadastro{
    font-size: small;
    text-align: right;
}

#btn-cadastro{
    padding: 0% 15% 0% 5%;
}

.btn-primary{
    background-color: blueviolet;
    border-color: rgba(137, 43, 226, 0.239);
}

.btn-primary:hover{
    transform: scale(1.02);
    background-color: #F3C42E;
    border-color: #F3C42E;
    transition:  0.4s;
    cursor: pointer;
}