body#myJobs-body{
    max-width: 100%;
    /* margin: 0% 10%; */
    background-color: #F5EFEF;
    font-family: 'Nunito', sans-serif;
}

.myJobs-title{
    width: 100%;
    height: auto;
    margin-top: 6rem;
}

h1#myJobs-title{
    max-width: 100%;
    margin: 0% 4% 5% 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: block;
    text-align: center;
    border-bottom: 2px solid #530084;
    border-bottom-style: groove;
    color: #F3C42E;
    
}

h7.myJobs-card-title{
    max-width: 100%;
    display: block;
}

.myJobs-card > p, h7 {
    color: white;
}

.myJobs-card > p {
    padding: 7% 2%;
    font-size: smaller;
}

.myJobs-card > h7{
    font-size: larger;
}

/* CSS FLEXBOX  */

.myJobs-main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    /* margin: 0% 10%; */
}

.myJobs-main > div.myJobs-card {
    flex: 1 1 200px; /*tamanho maximo de caixa de conteudo*/
    margin: 15px 40px;
    border: 2px solid #530084;
}

.myJobs-main > div#myJobs-icon-plus {
    flex: 1 1 200px; /*tamanho maximo de caixa de conteudo*/
    padding-left: 85%;
    margin: 10px;
    border: 0px 
}

#myJobs-icon-plus {
    height: 15%;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
}

#myJobs-icon-new-job {
    margin-right: 30px;
    cursor: pointer;
    border-radius: 100px;
    background-color: #F3C42E;
    color: #530084;
    border:solid 1px ;
}
#myJobs-icon-new-job:hover {
    margin-right: 30px;
    cursor: pointer;
    color:#F3C42E;
    background-color: #530084
}


.myJobs-card {
    background-color: #530084;
    padding: 5px 8px;
    max-width: 25rem;
}

/* HOVER */

.myJobs-card:hover{
    transform: scale(1.08);
    background-color: #F3C42E;
    transition:  0.4s;
    cursor: pointer;
} 

.myJobs-card:hover > p, .card:hover > h7 {
    color: rgb(0, 0, 0);
}

a {
    color: purple;
}

a:link {
    color: rgb(83, 00, 132);
    text-decoration: none;
}

a:hover {
    color: #F3C42E;
    text-decoration: none;
}